/* write your override styles here */
#wall .tag-1 {
    display: none;
}
div#wall #tag-2 {
    display: none;
}
#tag-3 {
    display: none;
}
dsafklsdjf;jgflsd
sdflsadjf;lkdjsaf;
asdjkfskldjaf;:
sdakldfj;asdlfj
lska;djflsjaf
sakldfj;ldkjfas
sdafjl;asjdlkfj
sdfjals;dkjf;lsdfj
lsdkfajsd;lfjkf
dlkfjasdl;afkjas;ldkj
dsklafjsd;lkfj
jdflsakjdf;ajlkas
asjfd;lksdja;sjfd
dsjlkafj;dlskfj;klj
